<!DOCTYPE html>
<html>
<head>
 <% include ../views/partials/head.ejs %>
</head>
<header>
 <% include ../views/partials/header.ejs %>  
</header>
<body> 
<h1>Results</h1>

	<p><%= data.businesses[0].name %> </p>
	<p><%= data.businesses[0].location.display_address %></p>
	<p><%= data.businesses[0].location.city %></p>
	<p><%= data.businesses[0].location.postal_code %></p>
	<a href=""><p><%= data.businesses[0].mobile_url %></p></a>
	 

<a href="/users/normalsearch">Search Again</a>
</body>
</html>