<!DOCTYPE html>
<html>
<head>
 <% include ../views/partials/head.ejs %>
</head>
<header>
 <% include ../views/partials/header.ejs %>  
</header>
<body> 

    <div id="users-container">
        <div id="users">
        	<p> <%= users.username %></p>
        	<p> Zipcode: <%= users.zipcode %></p>
        	<%if(users.restaurantname) {%>
    		  <p> Last Restaurant: <%= users.restaurantname %></p>
    	   <%}%>   
      </div>
    </div>
    <a href="/users/<%=users.id%>/search"> Search</a> 
    <a href="/users/<%= users.id %>/edit">Edit User</a>
            <form action="/users/<%= users.id %>" method="POST">
                <input type="hidden" name="_method" value="DELETE"/>
                <button>Delete User</button>
            </form> 
    
</body>
</html>
